<!DOCTYPE html>
<html lang=lang={% block page_lang %}"en"{% endblock %} >
<head>
    <meta charset="utf-8" />
    <title>
        {% block page_title %}{% endblock %}
    </title>
    {% block page_description %}{% endblock %}
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>
    {% block stylesheets %}
    {% endblock %}
    {% block favicon %}
        <link rel="shortcut icon" href="{% block favicon_url %}{% endblock %}" />
    {% endblock %}
</head>
<body  class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid  m-error-3" style="{% block page_background %}{% endblock %}">
        <div class="m-error_container">
					<span class="m-error_number">
						<h1>
							{% block error_number %}
                                404
                            {% endblock %}
						</h1>
					</span>
            {% block error_description %}
                <p class="m-error_title m--font-light">
                    How did you get here
                </p>
                <p class="m-error_subtitle">
                    Sorry we can't seem to find the page you're looking for.
                </p>
                <p class="m-error_description">
                    There may be amisspelling in the URL entered,
                    <br>
                    or the page you are looking for may no longer exist.
                </p>
            {% endblock %}
            {% block error_action %}
            {% endblock %}
        </div>
    </div>
</div>

{% block javascripts %}
{% endblock %}
</body>
</html>
